/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front {	
	position: absolute;
	-webkit-backface-visibility: hidden;
}
.back {
	-webkit-backface-visibility: hidden;
}
.portfolio-item {
	-webkit-transform-style: preserve-3d;
}
.portfolio-item:hover .front {
	-webkit-transform: perspective( 600px ) rotateY(180deg);
}

.portfolio-item:hover .back {
	-webkit-transform: perspective( 600px ) rotateY(360deg);
}

.portfolio-item .front {
	-webkit-transition: -webkit-transform 2s;
	-webkit-transform: perspective( 600px ) rotateY(0deg);
}

.portfolio-item .back {
	-webkit-transition: -webkit-transform 2s;
	-webkit-transform: perspective( 600px ) rotateY(180deg);
}